.email-preview {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #ffffff; /* Ensure the initial background is white */
    cursor: pointer;
    transition: border;
}

.email-preview.read {
    background-color: #d3d3d3; /* Dark grey for read emails */
    color: #555; /* Dim text color */
}

.email-preview.unread {
    background-color: #ffffff; /* White for unread emails */
    color: #000; /* Default text color */
}

.left {
    flex-basis: 168px;
    max-width: 168px;
    padding-right: 32px;
}

.middle {
    flex-basis: 168px;
    max-width: 168px;
    padding-right: 32px;
}

.right {
    display: flex;
    width: 350px;
    align-self: flex-end;
}

.email-preview:hover {
    background-color: #ffffff; /* Keep the background color unchanged */
    outline: 2px solid #c0c0c0; /* Add a gray frame */
    border-radius: 4px; /* Optional: rounded corners */
}

.email-from {
    flex: 1;
    font-size: 0.9rem;
    font-weight: 600;
    color: #202124;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: flex-start;
}

.email-subject {
    flex: 2;
    font-size: 1rem;
    font-weight: bold;
    color: #202124;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
}

.email-body {
    flex: 3;
    font-size: 0.9rem;
    color: #5f6368;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
}

.email-date {
    flex: 0.5;
    font-size: 0.8rem;
    color: #5f6368;
    text-align: right;
}

/* Mobile-Friendly Design */
@media (max-width: 768px) {
    .email-preview {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 15px;
    }

    .email-from, .email-subject, .email-body, .email-date {
        flex: none;
        margin-bottom: 5px;
    }
}
